<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://expath.org/ns/pkg" name="http://codesharing.sourceforge.net/"
    abbrev="@project.app@" version="@project.version@" spec="1.0">
    <title>CodeSharing: a simple API for disseminating our TEI encoding</title>
    <!--<dependency package="http://exist-db.org/apps/shared"/>-->
    <!--<dependency package="http://www.functx.com"/>-->
    <!--<dependency package="http://xqilla.sourceforge.net/pkg/xqjson"/>-->
</package>
